body{
    margin:0;
    padding:0;
}

.greater{
    display:flex;
    flex-direction:column;
    padding-left:200px;
    padding-right:200px;
    background-color:#1F2937;
}
.navbar{
    display:flex;
    justify-content:space-between;

    color:aliceblue;
    align-items:center;
    position:absolute top;
    margin-left:0;
}

.navbar .headerlinks{
    display:flex;
    gap:20px;
    align-self:center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.secondpart{
    display:flex;
    background-color:#1F2937;
    color:aliceblue;
    align-items:center;
    justify-content: space-between;
    margin-top:30px;
    margin-bottom:30px;

}

.secondpart .info{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    padding-right:20px;
}

img{
    max-height: 250px;
    width:auto;

}

#button{
    width:60px;
    background-color: #3882f6;
    color:whitesmoke;
    border-radius:5px;
    border:0px;
}