body{
    margin:0;
    padding:0;
}
.navbar{
    display:flex;
    justify-content:space-between;
    padding-left: 200px;
    padding-right: 200px;
    background-color:#1F2937;
    color:aliceblue;
    align-items:center;
    position:absolute top;
    margin-left:0;
}

.navbar .headerlinks{
    display:flex;
    gap:20px;
    align-self:center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.secondpart{
    display:flex;
    background-color:#1F2937;
    color:aliceblue;
}