html {
    height: 100%;
    margin: auto;
    width: auto;
    overflow-x:scroll;
    overflow-y:scroll;
  }

body{
    margin:0;
    padding:0;
}

.greater{
    display:flex;
    flex-direction:column;
    padding-left:200px;
    padding-right:200px;
    background-color:#1F2937;
}
.navbar{
    display:flex;
    justify-content:space-between;

    color:aliceblue;
    align-items:center;
    position:absolute top;
    margin-left:0;
}

.navbar .headerlinks{
    display:flex;
    gap:20px;
    align-self:center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.secondpart{
    display:flex;
    background-color:#1F2937;
    color:aliceblue;
    align-items:center;
    justify-content: space-between;
    margin-top:30px;
    margin-bottom:30px;

}

.secondpart .info{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    padding-right:20px;
}

img{
    max-height: 250px;
    width:auto;

}

#button{
    width:60px;
    background-color: #3882f6;
    color:whitesmoke;
    border-radius:5px;
    border:0px;
}

.secondsection{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.secondsection .content_holder{
    display:flex;
    gap:20px;
}

.quote{
    background-color: #e5e7eb;
    padding:80px;
    font-family: #1F2937;
    display:flex;
    flex-direction:column;
    padding-left:200px;
    padding-right:200px;

}

.quote .keeps{
    align-self: flex-end;
    justify-self:flex-start;
}

.background{
    display:flex;
    justify-content:center;
    align-text:center;
    padding:50px;
    color: aliceblue;
}

.background .box{
    display:flex;
    padding:20px;
    padding-left: 70px;
    padding-right:70px;
    gap:100px;
    background-color:#3882f6;
    border-radius: 15px;
    justify-content: space-around;
    align-items:center;
}

.background .box .textbox{
    display:flex;
    flex-direction:column;
}

.textbox > h1{
    font-size: 36px;
    margin-bottom: 0px;
    font-weight:900;
}
.textbox > p{
    margin-top:0px;
    font-size:24px;
}
#buxton{
    height:auto;
    color:aliceblue;
    background:transparent;
    border-color: aliceblue;
    border-radius: 3px;
    box-shadow: none;
    padding-right: 40px;
    border-width: 5px;
    padding-left:40px;
    font-size: 36px;
    font-weight:900;
}
.copyright{
    display:flex;
    background-color:#1F2937;
    padding:30px;
    color:antiquewhite;
    justify-content: center;
}
.copyright > h1{
    font-size:20px;
}